html,body{
  background-color:mistyrose;
  }
  
 h1{ 
 background-color:mistyrose;
 color:mediumvioletred;
 text-align:center
 }

h2{ background-color:navajowhite;
  color:darkviolet;
   text-align:center
  }
